rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function hasRole(role) {
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return request.auth != null && userDoc != null && userDoc.data.roles != null && role in userDoc.data.roles;
    }

    function isSuperAdmin() {
      return hasRole('superadmin');
    }

    // Colección users
    match /users/{userId} {
      allow read: if request.auth != null;
      // Permetem als usuaris nous crear el seu perfil buit sense rols
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.roles.size() == 0;
      allow update, delete: if isSuperAdmin();
    }

    // Colección web_content (Landing page public)
    match /web_content/{document} {
      allow read: if true;
      allow write: if isSuperAdmin();
    }

    // Colección teams (Equipos)
    match /teams/{teamId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if isSuperAdmin() || 
                            (hasRole('admin_futbol') && resource.data.tournament == 'futbol') ||
                            (hasRole('admin_basquet') && resource.data.tournament == 'basquet');
    }

    // Colección bar_products
    match /bar_products/{productId} {
      allow read: if isSuperAdmin() || hasRole('barista');
      allow write: if isSuperAdmin();
    }
  }
}
